body {
  font-family: 'play', sans-serif;
}

#match {
  width: 40%;
  position: absolute;
  bottom: -45px;
  left: 30%;
  transition: bottom 500ms ease-in;
  background-color: #eee;
  border-radius: 9px 9px 0px 0px;
  padding: 20px 0px;
  text-align:center;
  opacity: 0.9;
}

#match:hover{
  bottom: 0px;
}

#left-select, #right-select {
  width: 80px;
}

#match-logo {
  float: left;
  margin-top: -18px;
  margin-left: 10px;
  font-weight: bold;
}
#news {
  position: absolute;
  left: -400px;
  top: 30%;
  width: 400px;
  background-color: #ddd;
  padding: 0px 10px;
  transition: left 1s ease-in, opacity 500ms ease-in;
  border-radius: 0px 9px 9px 0px;
}

#news:hover {
  left: 0px;
  opacity: 0.7;
}

#news-logo {
  float: right;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin-top: 20px;
  margin-right: -20px;
  font-size: 15px;
  font-weight: bold;
}

.news-text {
  padding: 5px;
  opacity: 0.8;
  color: black;
}

#ribbon {
  opacity: 0.6;
  transition: opacity 500ms ease-in;
}

#ribbon:hover {
  opacity: 0.9;
}
